#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo { height: 2.5em; opacity: 0.85; transition: opacity 200ms; }
.logo:hover { opacity: 1; }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.movie-container {
  position: relative;
  flex: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
